Repository kyegomez/zeta, changes with the labels that .github/labeler.yml gives for each.
All labels: root, Tests, ghactions, Scripts, Documentation

[FEAT][MGQA]
  pyproject.toml
  zeta/nn/attention/__init__.py
  zeta/nn/attention/multi_grouped_attn.py
  zeta/nn/modules/__init__.py
  zeta/nn/modules/mr_adapter.py
  zeta/optim/parallel_gradient_descent.py
  zeta/optim/stable_adam.py
  zeta/training/galore.py
Labels: root

[FEAT][MGQA]
  pyproject.toml
  zeta/nn/attention/__init__.py
  zeta/nn/attention/multi_grouped_attn.py
  zeta/nn/modules/__init__.py
  zeta/nn/modules/mr_adapter.py
  zeta/optim/parallel_gradient_descent.py
  zeta/optim/stable_adam.py
  zeta/training/galore.py
Labels: root

[removal of technical debt]
  pyproject.toml
  requirements.txt
  zeta/nn/attention/multi_grouped_attn.py
Labels: root

[removal of technical debt]
  pyproject.toml
  requirements.txt
  zeta/nn/attention/multi_grouped_attn.py
Labels: root

[DISSABLE LOGGING]
  pyproject.toml
  zeta/nn/attention/__init__.py
  zeta/utils/disable_logging.py
Labels: root

[DISSABLE LOGGING]
  pyproject.toml
  zeta/nn/attention/__init__.py
  zeta/utils/disable_logging.py
Labels: root

[FEATS][DATA OPS]
  pyproject.toml
  zeta/ops/expand.py
  zeta/utils/__init__.py
  zeta/utils/disable_logging.py
  zeta/utils/img_to_tensor.py
  zeta/utils/text_to_tensor.py
Labels: root

[FEATS][DATA OPS]
  pyproject.toml
  zeta/ops/expand.py
  zeta/utils/__init__.py
  zeta/utils/disable_logging.py
  zeta/utils/img_to_tensor.py
  zeta/utils/text_to_tensor.py
Labels: root

[OPTIM]
  zeta/utils/img_to_tensor.py
  zeta/utils/text_to_tensor.py
Labels: none

[OPTIM]
  zeta/utils/img_to_tensor.py
  zeta/utils/text_to_tensor.py
Labels: none

[CLEANUP]
  pyproject.toml
  requirements.txt
Labels: root

[CLEANUP]
  pyproject.toml
  requirements.txt
Labels: root

[INIT] progress on act kernels
  zeta/experimental/__init__.py
  zeta/experimental/triton/__init__.py
  zeta/experimental/triton/activations/__init.py
  zeta/experimental/triton/activations/activations.py
  zeta/experimental/triton/activations/functions.py
Labels: none

[INIT] progress on act kernels
  zeta/experimental/__init__.py
  zeta/experimental/triton/__init__.py
  zeta/experimental/triton/activations/__init.py
  zeta/experimental/triton/activations/activations.py
  zeta/experimental/triton/activations/functions.py
Labels: none

[INIT] progress on act kernels
  zeta/experimental/triton/activations/__init.py
  zeta/experimental/triton/activations/activations.py
  zeta/experimental/triton/activations/functions.py
Labels: none

[INIT] progress on act kernels
  zeta/experimental/triton/activations/__init.py
  zeta/experimental/triton/activations/activations.py
  zeta/experimental/triton/activations/functions.py
Labels: none

[INIT] triton kernels for act funcs
  .gitignore
  zeta/experimental/triton/activations/__init.py
  zeta/experimental/triton/activations/__init__.py
  zeta/experimental/triton/activations/activations.py
  zeta/experimental/triton/activations/functions.py
Labels: root

[INIT] triton kernels for act funcs
  .gitignore
  zeta/experimental/triton/activations/__init.py
  zeta/experimental/triton/activations/__init__.py
  zeta/experimental/triton/activations/activations.py
  zeta/experimental/triton/activations/functions.py
Labels: root

[FEATS][NormalSparseMoE]
  pyproject.toml
  zeta/nn/modules/__init__.py
  zeta/nn/modules/sparse_moe.py
Labels: root

[FEATS][NormalSparseMoE]
  pyproject.toml
  zeta/nn/modules/__init__.py
  zeta/nn/modules/sparse_moe.py
Labels: root

[FEATS][NormalSparseMoE]
  zeta/nn/modules/sparse_moe.py
Labels: none

[FEATS][NormalSparseMoE]
  zeta/nn/modules/sparse_moe.py
Labels: none

[CLEANUP]
  pyproject.toml
  zeta/__init__.py
  zeta/nn/modules/__init__.py
  zeta/nn/modules/droppath.py
  zeta/optim/decoupled_optimizer.py
  zeta/tokenizers/__init__.py
Labels: root

[CLEANUP]
  pyproject.toml
  zeta/__init__.py
  zeta/nn/modules/__init__.py
  zeta/nn/modules/droppath.py
  zeta/optim/decoupled_optimizer.py
  zeta/tokenizers/__init__.py
Labels: root

Update multihead_attention.py
  zeta/nn/attention/multihead_attention.py
Labels: none

Update multihead_attention.py
  zeta/nn/attention/multihead_attention.py
Labels: none

[CLEANUP]
  pyproject.toml
  zeta/__init__.py
Labels: root

[CLEANUP]
  pyproject.toml
  zeta/__init__.py
Labels: root

[CLEANUP][Sky]
  pyproject.toml
  zeta/__init__.py
Labels: root

[CLEANUP][Sky]
  pyproject.toml
  zeta/__init__.py
Labels: root

[MODEL][Nirvana]
  playground/models/nirvana.py
Labels: none

[MODEL][Nirvana]
  playground/models/nirvana.py
Labels: none

Update imports
  zeta/models/andromeda.py
  zeta/models/gpt4.py
  zeta/models/llama.py
  zeta/models/palme.py
  zeta/structs/__init__.py
Labels: none

Update imports
  zeta/models/andromeda.py
  zeta/models/gpt4.py
  zeta/models/llama.py
  zeta/models/palme.py
  zeta/structs/__init__.py
Labels: none

[video_patch_linear_flatten]
  pyproject.toml
  zeta/models/andromeda.py
  zeta/nn/modules/__init__.py
  zeta/nn/modules/patch_linear_flatten.py
Labels: root

[video_patch_linear_flatten]
  pyproject.toml
  zeta/models/andromeda.py
  zeta/nn/modules/__init__.py
  zeta/nn/modules/patch_linear_flatten.py
Labels: root

[BUFG][AutoRegressiveWrapper]
  README.md
  docs/blog/introduction_to_zeta.md
  docs/zeta/index.md
  docs/zeta/models/andromeda.md
  docs/zeta/models/gpt4.md
  docs/zeta/models/llama2.md
  docs/zeta/models/palme.md
  docs/zeta/structs/autoregressivewrapper.md
  mkdocs.yml
  pyproject.toml
  tests/models/test_andromeda.py
  tests/models/test_llama2.py
  tests/models/test_palme.py
  tests/structs/test_autoregressive_wrapper.py
  zeta/models/andromeda.py
  zeta/models/gpt4.py
  zeta/structs/auto_regressive_wrapper.py
  zeta/structs/simple_transformer.py
Labels: root, Documentation

[BUFG][AutoRegressiveWrapper]
  README.md
  docs/blog/introduction_to_zeta.md
  docs/zeta/index.md
  docs/zeta/models/andromeda.md
  docs/zeta/models/gpt4.md
  docs/zeta/models/llama2.md
  docs/zeta/models/palme.md
  docs/zeta/structs/autoregressivewrapper.md
  mkdocs.yml
  pyproject.toml
  tests/models/test_andromeda.py
  tests/models/test_llama2.py
  tests/models/test_palme.py
  tests/structs/test_autoregressive_wrapper.py
  zeta/models/andromeda.py
  zeta/models/gpt4.py
  zeta/structs/auto_regressive_wrapper.py
  zeta/structs/simple_transformer.py
Labels: root, Documentation

add to the __init__.py
  zeta/__init__.py
Labels: none

add to the __init__.py
  zeta/__init__.py
Labels: none

.github/labeler.yml:

# this is a config file for the github action labeler

# Add 'root' label to any root file changes
# Quotation marks are required for the leading asterisk
root:
- changed-files:
  - any-glob-to-any-file: '*'

# Add 'Tests' label to any file changes within 'docs' folder
Tests:
- changed-files:
  - any-glob-to-any-file: tests/*

# Add 'Documentation' label to any file changes within 'docs' or 'guides' folders
ghactions:
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/*
    - .github/*

# Add 'Scripts' label to any file changes within 'docs' folder
Scripts:
- changed-files:
  - any-glob-to-any-file: scripts/*
  
## Equivalent of the above mentioned configuration using another syntax
Documentation:
- changed-files:
  - any-glob-to-any-file: ['docs/*', 'guides/*']
  - any-glob-to-any-file: '**/*.md'

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
source:
- all:
  - changed-files:
    - any-glob-to-any-file: 'src/**/*'
    - all-globs-to-all-files: '!src/docs/*'

# Add 'feature' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
feature:
 - head-branch: ['^feature', 'feature']

# Add 'release' label to any PR that is opened against the `main` branch
release:
 - base-branch: 'main'
