Repository kyegomez/zeta, changes with the labels that .github/labeler.yml gives for each.
All labels: root, Tests, ghactions, Scripts, Documentation

Fixed issue #181
  zeta/nn/modules/simple_mamba.py
Labels: none

Fixed issue #181
  zeta/nn/modules/simple_mamba.py
Labels: none

init func & activation
  zeta/experimental/triton/activations/__init__.py
  zeta/experimental/triton/activations/activations.py
  zeta/experimental/triton/activations/functions.py
Labels: none

init func & activation
  zeta/experimental/triton/activations/__init__.py
  zeta/experimental/triton/activations/activations.py
  zeta/experimental/triton/activations/functions.py
Labels: none

[FEAT][SWIGLU]
  playground/models/cobra.py
  playground/models/spectra.py
  playground/models/videos/spectra.py
  pyproject.toml
  requirements.txt
  zeta/models/andromeda.py
  zeta/nn/modules/feedforward.py
Labels: root

[FEAT][SWIGLU]
  playground/models/cobra.py
  playground/models/spectra.py
  playground/models/videos/spectra.py
  pyproject.toml
  requirements.txt
  zeta/models/andromeda.py
  zeta/nn/modules/feedforward.py
Labels: root

[FEAT][TextHawkQueryProposal]
  pyproject.toml
  zeta/__init__.py
  zeta/experimental/triton/activations/activations.py
  zeta/experimental/triton/activations/functions.py
  zeta/nn/modules/__init__.py
  zeta/nn/modules/query_proposal.py
Labels: root

[FEAT][TextHawkQueryProposal]
  pyproject.toml
  zeta/__init__.py
  zeta/experimental/triton/activations/activations.py
  zeta/experimental/triton/activations/functions.py
  zeta/nn/modules/__init__.py
  zeta/nn/modules/query_proposal.py
Labels: root

[FEAT][PixelShuffleDownscale]
  zeta/experimental/__init__.py
  zeta/experimental/triton/activations/flash_mlp.py
  zeta/experimental/triton/triton_modules/__init__.py
  zeta/experimental/triton/triton_modules/flash_mlp.py
  zeta/experimental/triton/triton_modules/linear_proj.py
  zeta/nn/modules/__init__.py
  zeta/nn/modules/feedforward.py
  zeta/nn/modules/pixel_shuffling.py
Labels: none

[FEAT][PixelShuffleDownscale]
  zeta/experimental/__init__.py
  zeta/experimental/triton/activations/flash_mlp.py
  zeta/experimental/triton/triton_modules/__init__.py
  zeta/experimental/triton/triton_modules/flash_mlp.py
  zeta/experimental/triton/triton_modules/linear_proj.py
  zeta/nn/modules/__init__.py
  zeta/nn/modules/feedforward.py
  zeta/nn/modules/pixel_shuffling.py
Labels: none

[PLAYGROUN][TokaGPT]
  playground/models/toka_master_gpt.py
Labels: none

[PLAYGROUN][TokaGPT]
  playground/models/toka_master_gpt.py
Labels: none

OUTPUTHEAD]
  playground/models/toka_master_gpt.py
  pyproject.toml
  zeta/nn/modules/mixtape.py
  zeta/nn/modules/multi_input_multi_output.py
Labels: root

OUTPUTHEAD]
  playground/models/toka_master_gpt.py
  pyproject.toml
  zeta/nn/modules/mixtape.py
  zeta/nn/modules/multi_input_multi_output.py
Labels: root

fix: package name collision
  zeta/experimental/triton/activations/activations.py
Labels: none

fix: package name collision
  zeta/experimental/triton/activations/activations.py
Labels: none

[FEAT][KAN]
  pyproject.toml
  zeta/nn/modules/__init__.py
  zeta/nn/modules/kan.py
  zeta/nn/modules/splines.py
Labels: root

[FEAT][KAN]
  pyproject.toml
  zeta/nn/modules/__init__.py
  zeta/nn/modules/kan.py
  zeta/nn/modules/splines.py
Labels: root

[FEAT][FractoralNorm]
  zeta/nn/modules/fractoral_norm.py
Labels: none

[FEAT][FractoralNorm]
  zeta/nn/modules/fractoral_norm.py
Labels: none

[FEAT][FractoralNorm}
  fractoral_norm.py
  pyproject.toml
  scripts/Dockerfile
  zeta/__init__.py
  zeta/nn/modules/__init__.py
  zeta/nn/modules/feedforward.py
  zeta/nn/modules/fractoral_norm.py
  zeta/nn/modules/layer_scale.py
Labels: root, Scripts

[FEAT][FractoralNorm}
  fractoral_norm.py
  pyproject.toml
  scripts/Dockerfile
  zeta/__init__.py
  zeta/nn/modules/__init__.py
  zeta/nn/modules/feedforward.py
  zeta/nn/modules/fractoral_norm.py
  zeta/nn/modules/layer_scale.py
Labels: root, Scripts

[FEAT][FractoralNorm}
  fractoral_norm.py
  zeta/nn/modules/__init__.py
  zeta/nn/modules/feedforward.py
  zeta/nn/modules/layer_scale.py
Labels: root

[FEAT][FractoralNorm}
  fractoral_norm.py
  zeta/nn/modules/__init__.py
  zeta/nn/modules/feedforward.py
  zeta/nn/modules/layer_scale.py
Labels: root

[FEAT][LinearizedAttention]
  multi_head_latent_attention.py
  pyproject.toml
  zeta/cloud/sky_api.py
  zeta/nn/attention/__init__.py
  zeta/nn/attention/linearized_attention.py
  zeta/nn/modules/__init__.py
  zeta/nn/modules/expand.py
  zeta/nn/modules/fractoral_norm.py
  zeta/nn/modules/kv_cache_update.py
Labels: root

[FEAT][LinearizedAttention]
  multi_head_latent_attention.py
  pyproject.toml
  zeta/cloud/sky_api.py
  zeta/nn/attention/__init__.py
  zeta/nn/attention/linearized_attention.py
  zeta/nn/modules/__init__.py
  zeta/nn/modules/expand.py
  zeta/nn/modules/fractoral_norm.py
  zeta/nn/modules/kv_cache_update.py
Labels: root

[FEAT][LinearizedAttention][Mask]
  multi_head_latent_attention.py
  pyproject.toml
  zeta/nn/attention/__init__.py
  zeta/nn/attention/linearized_attention.py
  zeta/nn/modules/__init__.py
  zeta/nn/modules/expand.py
Labels: root

[FEAT][LinearizedAttention][Mask]
  multi_head_latent_attention.py
  pyproject.toml
  zeta/nn/attention/__init__.py
  zeta/nn/attention/linearized_attention.py
  zeta/nn/modules/__init__.py
  zeta/nn/modules/expand.py
Labels: root

[FEAT][SigLip]
  playground/models/nirvana.py
  zeta/nn/attention/linearized_attention.py
  zeta/nn/attention/multiquery_attention.py
  zeta/nn/modules/__init__.py
  zeta/nn/modules/blockdiag_butterfly.py
  zeta/nn/modules/conv_mlp.py
  zeta/nn/modules/gated_cnn_block.py
  zeta/nn/modules/sig_lip_loss.py
  zeta/nn/modules/swarmalator.py
  zeta/ops/main.py
  zeta/optim/batched_optimizer.py
  zeta/optim/stable_adam.py
  zeta/training/scheduler.py
Labels: none

[FEAT][SigLip]
  playground/models/nirvana.py
  zeta/nn/attention/linearized_attention.py
  zeta/nn/attention/multiquery_attention.py
  zeta/nn/modules/__init__.py
  zeta/nn/modules/blockdiag_butterfly.py
  zeta/nn/modules/conv_mlp.py
  zeta/nn/modules/gated_cnn_block.py
  zeta/nn/modules/sig_lip_loss.py
  zeta/nn/modules/swarmalator.py
  zeta/ops/main.py
  zeta/optim/batched_optimizer.py
  zeta/optim/stable_adam.py
  zeta/training/scheduler.py
Labels: none

[FEAT]
  pyproject.toml
  zeta/nn/modules/__init__.py
  zeta/nn/modules/gated_cnn_block.py
  zeta/nn/modules/space_time_unet.py
  zeta/nn/modules/sparse_token_integration.py
  zeta/nn/modules/vit_denoiser.py
Labels: root

[FEAT]
  pyproject.toml
  zeta/nn/modules/__init__.py
  zeta/nn/modules/gated_cnn_block.py
  zeta/nn/modules/space_time_unet.py
  zeta/nn/modules/sparse_token_integration.py
  zeta/nn/modules/vit_denoiser.py
Labels: root

[CLEANUP]
  multi_head_latent_attention.py
  playground/modules/fractoral_norm.py
  pyproject.toml
  zeta/nn/embeddings/rope.py
  zeta/nn/modules/__init__.py
  zeta/nn/modules/simple_lstm.py
  zeta/nn/modules/simple_rnn.py
Labels: root

[CLEANUP]
  multi_head_latent_attention.py
  playground/modules/fractoral_norm.py
  pyproject.toml
  zeta/nn/embeddings/rope.py
  zeta/nn/modules/__init__.py
  zeta/nn/modules/simple_lstm.py
  zeta/nn/modules/simple_rnn.py
Labels: root

[REMOVED SCIPY]
  pyproject.toml
  requirements.txt
  zeta/quant/qlora.py
Labels: root

[REMOVED SCIPY]
  pyproject.toml
  requirements.txt
  zeta/quant/qlora.py
Labels: root

[CLEANUP]
  pyproject.toml
  zeta/quant/qlora.py
Labels: root

[CLEANUP]
  pyproject.toml
  zeta/quant/qlora.py
Labels: root

Update pyproject.toml
  pyproject.toml
Labels: root

Update pyproject.toml
  pyproject.toml
Labels: root

.github/labeler.yml:

# this is a config file for the github action labeler

# Add 'root' label to any root file changes
# Quotation marks are required for the leading asterisk
root:
- changed-files:
  - any-glob-to-any-file: '*'

# Add 'Tests' label to any file changes within 'docs' folder
Tests:
- changed-files:
  - any-glob-to-any-file: tests/*

# Add 'Documentation' label to any file changes within 'docs' or 'guides' folders
ghactions:
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/*
    - .github/*

# Add 'Scripts' label to any file changes within 'docs' folder
Scripts:
- changed-files:
  - any-glob-to-any-file: scripts/*
  
## Equivalent of the above mentioned configuration using another syntax
Documentation:
- changed-files:
  - any-glob-to-any-file: ['docs/*', 'guides/*']
  - any-glob-to-any-file: '**/*.md'

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
source:
- all:
  - changed-files:
    - any-glob-to-any-file: 'src/**/*'
    - all-globs-to-all-files: '!src/docs/*'

# Add 'feature' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
feature:
 - head-branch: ['^feature', 'feature']

# Add 'release' label to any PR that is opened against the `main` branch
release:
 - base-branch: 'main'
