Repository kyegomez/zeta, changes with the labels that .github/labeler.yml gives for each.
All labels: root, Tests, ghactions, Scripts, Documentation

.github/labeler.yml:

# this is a config file for the github action labeler

# Add 'root' label to any root file changes
# Quotation marks are required for the leading asterisk
root:
- changed-files:
  - any-glob-to-any-file: '*'

# Add 'Tests' label to any file changes within 'docs' folder
Tests:
- changed-files:
  - any-glob-to-any-file: tests/*

# Add 'Documentation' label to any file changes within 'docs' or 'guides' folders
ghactions:
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/*
    - .github/*

# Add 'Scripts' label to any file changes within 'docs' folder
Scripts:
- changed-files:
  - any-glob-to-any-file: scripts/*
  
## Equivalent of the above mentioned configuration using another syntax
Documentation:
- changed-files:
  - any-glob-to-any-file: ['docs/*', 'guides/*']
  - any-glob-to-any-file: '**/*.md'

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
source:
- all:
  - changed-files:
    - any-glob-to-any-file: 'src/**/*'
    - all-globs-to-all-files: '!src/docs/*'

# Add 'feature' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
feature:
 - head-branch: ['^feature', 'feature']

# Add 'release' label to any PR that is opened against the `main` branch
release:
 - base-branch: 'main'

[DOCS]
  docs/.readthedocs.yaml
Labels: Documentation

[DOCS]
  docs/.readthedocs.yaml
Labels: Documentation

[DOCS]
  docs/mkdocs.yml
Labels: Documentation

[DOCS]
  docs/mkdocs.yml
Labels: Documentation

[CLEANUP]
  example.py
Labels: root

[CLEANUP]
  example.py
Labels: root

[TRAINING]
  training/evo_t/evo_t_logs/evolved_model_20240902_143524/training_config.json
  training/evo_t/evo_t_logs/evolved_model_20240902_143555/training_config.json
  training/evo_t/evo_t_logs/evolved_model_20240902_143821/training_config.json
  training/evo_t/evo_t_logs/evolved_model_20240902_143916/training_config.json
  training/evo_t/evo_t_logs/evolved_model_20240902_144022/training_config.json
  training/evo_t/evo_t_logs/evolved_model_20240902_144152/training_config.json
  training/evo_t/evolved_model_20240902_143524/training_config.json
  training/evo_t/evolved_model_20240902_143555/training_config.json
  training/evo_t/evolved_model_20240902_143821/training_config.json
  training/evo_t/evolved_model_20240902_143916/training_config.json
  training/evo_t/evolved_model_20240902_144022/training_config.json
  training/evo_t/evolved_model_20240902_144152/training_config.json
  training/evo_t/transformers_evolutionary_train.py
  training/mo/mamba_omega.py
  training/protein_g/protein_gen_transformer.py
Labels: none

[TRAINING]
  training/protein_g/protein_gen_transformer.py
Labels: none

[CLEANUP]
  training/protein_g/protein_gen_transformer.py
Labels: none

[DOCS]
  docs/mkdocs.yml
Labels: Documentation

[CLEANUP]
  examples/cython_tests/mqa.pyx
  examples/cython_tests/mqa_test.py
  examples/cython_tests/new_c_example.py
  examples/cython_tests/setup.py
  examples/cython_tests/torch_extension.pyx
Labels: none

[DOCS]
  docs/zeta/index.md
Labels: Documentation

[DOCS]
  docs/zeta/index.md
Labels: Documentation

[DOCS FIX]
  docs/mkdocs.yml
  training/gan/gan.py
  training/gan/new_gan.py
  training/vis/model.py
  training/vis/t2.py
  training/vis/t3.py
  training/vis/t4.py
  training/vis/t5.py
  training/vis/transformer.py
  training/yolo_alt/model.py
Labels: Documentation

[FEAT][SigmoidAttention]
  README.md
  examples/modules/sigmoid_attn.py
  pyproject.toml
  zeta/nn/modules/__init__.py
  zeta/nn/modules/sigmoid_attn.py
Labels: root, Documentation

[CLEANUP]
  pyproject.toml
Labels: root

Update README.md
  README.md
Labels: root, Documentation

[AGI]
  claude.py
  diff_attn.py
  examples/models/agi/model.py
  examples/models/evo_transformer_mutate/README.md
  examples/models/evo_transformer_mutate/model.py
  examples/models/transformer_real_time_learning/transformer_moe_liquid_real_time.py
  image.png
  melle.py
  zeta/nn/modules/__init__.py
  zeta/nn/modules/kan.py
  zeta/nn/modules/sigmoid_attn.py
Labels: root, Documentation

[CLEANUP]
  images/agorabanner.png
  images/zetascale.png
Labels: none

[REMOVE KAN]
  muon.py
  pyproject.toml
  zeta/nn/modules/__init__.py
  zeta/nn/modules/kan.py
Labels: root

[CLEANUP]
  examples/muon.py
  experimental/audio_encoder.py
  experimental/diff_attn.py
  experimental/melle.py
Labels: none

[CLEANUP]
  README.md
Labels: root, Documentation

[CLEANUP]
  README.md
Labels: root, Documentation

[CLEANED UP TOKENIZERS]
  muon.py
  zeta/tokenizers/__init__.py
  zeta/tokenizers/gptx_tokenizer.py
  zeta/tokenizers/llama_sentencepiece.py
  zeta/tokenizers/multi_modal_tokenizer.py
  zeta/tokenizers/sentence_piece.py
  zeta/tokenizers/tokenmonster.py
Labels: root

[FEAT][FLOW]
  examples/models/agi/model.py
  examples/models/evo_transformer_mutate/model.py
  muon.py
  zeta/nn/modules/__init__.py
  zeta/nn/modules/flow_matching.py
  zeta/nn/modules/flow_transformer.py
Labels: root

[FEAT]
  checkpoints/checkpoint_0.pt
  checkpoints/checkpoint_1000.pt
  checkpoints/checkpoint_2000.pt
  checkpoints/checkpoint_3000.pt
  checkpoints/checkpoint_4000.pt
  checkpoints/checkpoint_5000.pt
  checkpoints/checkpoint_6000.pt
  checkpoints/checkpoint_7000.pt
  checkpoints/checkpoint_8000.pt
  checkpoints/checkpoint_9000.pt
  examples/modules/flow_matching_modules/flow_matching.py
  examples/modules/flow_matching_modules/flow_moe.py
  pyproject.toml
  zeta/nn/modules/__init__.py
Labels: root

[CLEANUP]
  checkpoints/checkpoint_0.pt
  checkpoints/checkpoint_1000.pt
  checkpoints/checkpoint_2000.pt
  checkpoints/checkpoint_3000.pt
  checkpoints/checkpoint_4000.pt
  checkpoints/checkpoint_5000.pt
  checkpoints/checkpoint_6000.pt
  checkpoints/checkpoint_7000.pt
  checkpoints/checkpoint_8000.pt
  checkpoints/checkpoint_9000.pt
Labels: none

fix
  pyproject.toml
  zeta/nn/modules/flow_transformer.py
Labels: root

fix dependcies and remove moe
  .gitignore
  examples/modules/flow_matching_modules/flow_matching.py
  examples/modules/flow_matching_modules/flow_moe.py
  examples/training/stock_prediction/ts.py
  examples/training/vis/t4.py
  examples/training/vis/t5.py
  pyproject.toml
  requirements.txt
  scripts/install_cuda.py
  zeta/nn/attention/__init__.py
  zeta/nn/embeddings/__init__.py
  zeta/nn/modules/flow_matching.py
  zeta/nn/modules/g_shard_moe.py
  zeta/nn/modules/sparse_token_integration.py
  zeta/nn/modules/xmoe/moe_layer.py
Labels: root, Scripts

fix discord link
  README.md
  docs/zeta/index.md
Labels: root, Documentation

clean up links and readme
  README.md
  docs/zeta/index.md
Labels: root, Documentation

cleanup
  README.md
Labels: root, Documentation

readme
  README.md
Labels: root, Documentation

readme
  README.md
Labels: root, Documentation

remove experimental folder in main folder
  README.md
  scripts/Dockerfile
  scripts/auto_tests_docs/auto_docs.py
  scripts/auto_tests_docs/auto_docs_functions.py
  scripts/auto_tests_docs/auto_tests.py
  scripts/auto_tests_docs/auto_tests_functions.py
  scripts/auto_tests_docs/docs.py
  scripts/auto_tests_docs/mkdocs_handler.py
  scripts/code_quality.sh
  scripts/delpycache.py
  scripts/find_all_funcs_in_folder.py
  scripts/get_package_requirements.py
  scripts/install_cuda.py
  scripts/install_cuda.sh
  scripts/requirementstxt_to_pyproject.py
  scripts/test_name.sh
  scripts/tests.sh
  zeta/__init__.py
  zeta/experimental/__init__.py
  zeta/experimental/triton/__init__.py
  zeta/experimental/triton/activations/__init__.py
  zeta/experimental/triton/activations/activations.py
  zeta/experimental/triton/activations/flash_mlp.py
  zeta/experimental/triton/activations/functions.py
  zeta/experimental/triton/triton_modules/__init__.py
  zeta/experimental/triton/triton_modules/flash_mlp.py
  zeta/experimental/triton/triton_modules/linear_proj.py
Labels: root, Scripts, Documentation

code cleanup
  README.md
  muon.py
  zeta/__init__.py
  zeta/nn/modules/__init__.py
  zeta/structs/__init__.py
Labels: root, Documentation

readme and examples/readme
  .gitignore
  README.md
  examples/README.md
  examples/training/muon.py
  pyproject.toml
  zeta/rl/__init__.py
Labels: root, Documentation

readme
  README.md
Labels: root, Documentation
