Repository kyegomez/zeta, changes with the labels that .github/labeler.yml gives for each.
All labels: root, Tests, ghactions, Scripts, Documentation

[FEAT][Cope]
  pyproject.toml
  zeta/nn/modules/__init__.py
  zeta/nn/modules/cope.py
  zeta/nn/modules/sparc_alignment.py
  zeta/nn/modules/tensor_shape.py
Labels: root

[CLEANUP]
  pyproject.toml
  zeta/nn/attention/attend.py
  zeta/nn/attention/cross_attention.py
  zeta/nn/attention/local_attention.py
  zeta/nn/attention/multi_modal_causal_attention.py
  zeta/nn/modules/__init__.py
  zeta/nn/modules/multi_layer_key_cache.py
  zeta/nn/modules/perceiver_resampler.py
  zeta/nn/modules/return_loss_text.py
  zeta/nn/modules/sparse_moe.py
  zeta/nn/modules/top_n_gating.py
  zeta/structs/transformer.py
Labels: root

[CLEANUP]
  pyproject.toml
  zeta/nn/attention/attend.py
  zeta/nn/attention/cross_attention.py
  zeta/nn/attention/local_attention.py
  zeta/nn/attention/multi_modal_causal_attention.py
  zeta/nn/modules/__init__.py
  zeta/nn/modules/multi_layer_key_cache.py
  zeta/nn/modules/perceiver_resampler.py
  zeta/nn/modules/return_loss_text.py
  zeta/nn/modules/sparse_moe.py
  zeta/nn/modules/top_n_gating.py
  zeta/structs/transformer.py
Labels: root

[FEAT][Cope]
  pyproject.toml
  zeta/nn/modules/__init__.py
  zeta/nn/modules/cope.py
  zeta/nn/modules/sparc_alignment.py
  zeta/nn/modules/tensor_shape.py
Labels: root

[CLEANUP]
  README.md
Labels: root, Documentation

[CLEANUP]
  README.md
Labels: root, Documentation

[CLEANUP]
  zeta/nn/modules/patch_embedding_layer.py
Labels: none

[CLEANUP]
  zeta/nn/modules/patch_embedding_layer.py
Labels: none

[FEAT][GatedXAttention][GatedMoECrossAttn]
  pyproject.toml
  zeta/nn/modules/__init__.py
  zeta/nn/modules/evlm_xattn.py
  zeta/nn/modules/multi_layer_key_cache.py
  zeta/nn/modules/sparse_moe.py
Labels: root

[FEAT][GatedXAttention][GatedMoECrossAttn]
  pyproject.toml
  zeta/nn/modules/__init__.py
  zeta/nn/modules/evlm_xattn.py
  zeta/nn/modules/multi_layer_key_cache.py
  zeta/nn/modules/sparse_moe.py
Labels: root

[FEAT][Snake]
  zeta/nn/modules/__init__.py
  zeta/nn/modules/pretrained_t_five.py
  zeta/nn/modules/snake_act.py
Labels: none

[FEAT][Snake]
  zeta/nn/modules/__init__.py
  zeta/nn/modules/pretrained_t_five.py
  zeta/nn/modules/snake_act.py
Labels: none

Update README.md
  README.md
Labels: root, Documentation

Update README.md
  README.md
Labels: root, Documentation

Delete .DS_Store
  .DS_Store
Labels: root

Delete .DS_Store
  .DS_Store
Labels: root

Update README.md
  README.md
Labels: root, Documentation

Update README.md
  README.md
Labels: root, Documentation

[FIX][__INIT__ ERROR IN ZETA.NN.QUANT]
  .gitignore
  pyproject.toml
  zeta/nn/quant/__init__.py
Labels: root

[CLEANUP]
  playground/todo/dit_block.py
  playground/todo/hyper_attention.py
  playground/todo/multi_head_latent_attention.py
Labels: none

[CLEANUP]
  playground/todo/dit_block.py
  playground/todo/hyper_attention.py
  playground/todo/multi_head_latent_attention.py
Labels: none

[FIX][__INIT__ ERROR IN ZETA.NN.QUANT]
  .gitignore
  pyproject.toml
  zeta/nn/quant/__init__.py
Labels: root

[EXAMPLES]
  .gitignore
  audio_encoder.py
  examples/models/cobra.py
  examples/models/gpt4.py
  examples/models/gpt4_multimodal.py
  examples/models/nirvana.py
  examples/models/simple_transformer.py
  examples/models/toka_master_gpt.py
  examples/models/videos/spectra.py
  examples/modules/cross_attend.py
  examples/modules/flash_attention.py
  examples/modules/fractoral_norm.py
  examples/modules/viusal_expert_example.py
  examples/ops/laplace.py
  examples/structs/transformer.py
  examples/todo/dit_block.py
  examples/todo/hyper_attention.py
  examples/todo/multi_head_latent_attention.py
  examples/tokenizers/token_monster.py
  examples/training/fsdp.py
  pyproject.toml
  zeta/nn/modules/__init__.py
  zeta/nn/modules/crome_adapter.py
Labels: root

[EXAMPLES]
  .gitignore
  audio_encoder.py
  examples/models/cobra.py
  examples/models/gpt4.py
  examples/models/gpt4_multimodal.py
  examples/models/nirvana.py
  examples/models/simple_transformer.py
  examples/models/toka_master_gpt.py
  examples/models/videos/spectra.py
  examples/modules/cross_attend.py
  examples/modules/flash_attention.py
  examples/modules/fractoral_norm.py
  examples/modules/viusal_expert_example.py
  examples/ops/laplace.py
  examples/structs/transformer.py
  examples/todo/dit_block.py
  examples/todo/hyper_attention.py
  examples/todo/multi_head_latent_attention.py
  examples/tokenizers/token_monster.py
  examples/training/fsdp.py
  pyproject.toml
  zeta/nn/modules/__init__.py
  zeta/nn/modules/crome_adapter.py
Labels: root

[CLEANUP]
  examples/todo/hyper_attention.py
  pyproject.toml
  tests/nn/modules/test_full_feedforward.py
  zeta/nn/modules/mixtape.py
Labels: root

[CLEANUP]
  examples/todo/hyper_attention.py
  pyproject.toml
  tests/nn/modules/test_full_feedforward.py
  zeta/nn/modules/mixtape.py
Labels: root

[CLEANUP]
  README.md
  docs/zeta/nn/modules/hebbian.md
  docs/zeta/nn/modules/mmfusionffn.md
  docs/zeta/nn/modules/postnorm.md
  docs/zeta/nn/modules/vittransformerblock.md
  docs/zeta/rl/dpo.md
  docs/zeta/utils/save_load.md
  pyproject.toml
  tests/nn/attentions/test_xc_attention.py
  tests/nn/embeddings/test_patch_embedding.py
  tests/nn/modules/test_alr_block.py
  tests/nn/modules/test_cross_attn_images.py
  tests/nn/modules/test_full_feedforward.py
  tests/nn/modules/test_hebbian.py
  tests/nn/modules/test_image_projector.py
  tests/nn/modules/test_mm_adapter.py
  zeta/nn/modules/audio_to_text.py
  zeta/nn/modules/cog_vlm_two_adapter.py
  zeta/nn/modules/crome_adapter.py
  zeta/nn/modules/fusion_ffn.py
  zeta/nn/modules/hebbian.py
  zeta/nn/modules/mm_ops.py
  zeta/nn/modules/multi_input_multi_output.py
  zeta/nn/modules/omnimodal_fusion.py
  zeta/nn/modules/simple_lstm.py
  zeta/nn/modules/simple_rnn.py
  zeta/rl/__init__.py
Labels: root, Documentation

[CLEANUP]
  README.md
  docs/zeta/nn/modules/hebbian.md
  docs/zeta/nn/modules/mmfusionffn.md
  docs/zeta/nn/modules/postnorm.md
  docs/zeta/nn/modules/vittransformerblock.md
  docs/zeta/rl/dpo.md
  docs/zeta/utils/save_load.md
  pyproject.toml
  tests/nn/attentions/test_xc_attention.py
  tests/nn/embeddings/test_patch_embedding.py
  tests/nn/modules/test_alr_block.py
  tests/nn/modules/test_cross_attn_images.py
  tests/nn/modules/test_full_feedforward.py
  tests/nn/modules/test_hebbian.py
  tests/nn/modules/test_image_projector.py
  tests/nn/modules/test_mm_adapter.py
  zeta/nn/modules/audio_to_text.py
  zeta/nn/modules/cog_vlm_two_adapter.py
  zeta/nn/modules/crome_adapter.py
  zeta/nn/modules/fusion_ffn.py
  zeta/nn/modules/hebbian.py
  zeta/nn/modules/mm_ops.py
  zeta/nn/modules/multi_input_multi_output.py
  zeta/nn/modules/omnimodal_fusion.py
  zeta/nn/modules/simple_lstm.py
  zeta/nn/modules/simple_rnn.py
  zeta/rl/__init__.py
Labels: root, Documentation

[DOCS]
  docs/index.md
Labels: Documentation

[DOCS]
  docs/index.md
Labels: Documentation

[DOCS]
  mkdocs.yml
  requirements.txt
Labels: root

[DOCS]
  mkdocs.yml
  requirements.txt
Labels: root

[DOCS]
  requirements.txt
Labels: root

[DOCS]
  requirements.txt
Labels: root

[DOCS]
  docs/mkdocs.yml
  docs/requirements.txt
Labels: Documentation

[DOCS]
  docs/mkdocs.yml
  docs/requirements.txt
Labels: Documentation

[DOCS]
  docs/.readthedocs.yml
Labels: Documentation

[DOCS]
  docs/.readthedocs.yml
Labels: Documentation

[DOCS]
  docs/.readthedocs.yaml
Labels: Documentation

[DOCS]
  docs/.readthedocs.yaml
Labels: Documentation

.github/labeler.yml:

# this is a config file for the github action labeler

# Add 'root' label to any root file changes
# Quotation marks are required for the leading asterisk
root:
- changed-files:
  - any-glob-to-any-file: '*'

# Add 'Tests' label to any file changes within 'docs' folder
Tests:
- changed-files:
  - any-glob-to-any-file: tests/*

# Add 'Documentation' label to any file changes within 'docs' or 'guides' folders
ghactions:
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/*
    - .github/*

# Add 'Scripts' label to any file changes within 'docs' folder
Scripts:
- changed-files:
  - any-glob-to-any-file: scripts/*
  
## Equivalent of the above mentioned configuration using another syntax
Documentation:
- changed-files:
  - any-glob-to-any-file: ['docs/*', 'guides/*']
  - any-glob-to-any-file: '**/*.md'

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
source:
- all:
  - changed-files:
    - any-glob-to-any-file: 'src/**/*'
    - all-globs-to-all-files: '!src/docs/*'

# Add 'feature' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
feature:
 - head-branch: ['^feature', 'feature']

# Add 'release' label to any PR that is opened against the `main` branch
release:
 - base-branch: 'main'
